.category-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 2rem;
}

.category-button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: #fff;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.category-button:hover {
  transform: translateY(-2px);
}

.category-button.active {
  background-color: #007bff;
  color: white;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 1rem;
  margin-left: 250px;
  margin-right: 250px;
}

.skill-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.skill-item:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.skill-icon {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.skill-name {
  text-align: center;
  font-size: 0.9rem;
}

/* Add this for a subtle glow effect on hover */
@keyframes glow {
  0% {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  }
  50% {
    box-shadow: 0 5px 20px rgba(0, 123, 255, 0.4);
  }
  100% {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  }
}

.skill-item:hover {
  transform: translateY(-10px) scale(1.15);
  animation: glow 1s infinite;
}

@media screen and (max-width: 1100px) {
  .skills-grid {
    margin-right: 100px;
    margin-left: 100px;
  }
}
@media screen and (max-width: 990px) {
  .skills-grid {
    margin-right: 50px;
    margin-left: 50px;
  }
}

@media screen and (max-width: 768px) {
  .skills-grid {
    margin-right: 50px;
    margin-left: 50px;
  }
}
@media screen and (max-width: 600px) {
  .skills-grid {
    margin-right: 20px;
    margin-left: 20px;
  }
}
@media screen and (max-width: 400px) {
  .skills-grid {
    margin-right: 10px;
    margin-left: 10px;
  }
}
@media screen and (max-width: 300px) {
  .skills-grid {
    margin-right: 10px;
    margin-left: 10px;
  }
}
