.coursework-container {
  padding: 40px;
  border-radius: 10px;
  margin: 20px 0;
}

.coursework-grid {
  display: flex;
  padding-top: 50px;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.coursework-card {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
  width: calc(33% - 40px);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.coursework-card p {
  font-size: 18px;
  margin: 0;
  color: #555;
}

.coursework-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Responsive styles */
@media (max-width: 1200px) {
  .coursework-card {
    width: calc(50% - 40px);
  }
}

@media (max-width: 768px) {
  .coursework-card {
    width: calc(100% - 40px);
  }
}

@media (max-width: 480px) {
  .coursework-container {
    padding: 20px;
  }

  .coursework-card {
    width: calc(100% - 20px);
    padding: 15px;
  }

  .coursework-card p {
    font-size: 16px;
  }
}
